@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap");

@import "variables";
@import "common";

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  border-bottom: 1px solid $dark-brown;

  .header__logo {
    display: flex;

    img {
      width: 110px;
      height: 35px;
    }
  }

  .header__menu {
    ul {
      list-style-type: none;
    }

    li {
      padding-right: 36px;
      display: inline-block;

      a {
        font-size: 14px;
        font-weight: 600;
        color: $dark-brown;
        display: block;
      }

      .menu-btn {
        border: 1px solid #30488f;
        line-height: 33px;
        background: #fff;
        color: #30488f;
        height: 35px;
        line-height: 35px;
        padding: 0 20px;
        font-size: 14px;
        font-weight: 600;
        border-radius: 7px;
      }
    }
  }
}

.jumbotron {
  display: flex;
  margin-top: 100px;
  margin-bottom: 100px;

  .jumbotron__left {
    display: flex;
    flex-direction: column;

    h1 {
      width: 84%;
      color: $dark-brown;
      font-size: 50px;
      font-weight: 600;
      line-height: 70px;
      margin-bottom: 30px;
    }

    h2 {
      width: 84%;
      font-size: 22px;
      line-height: 33px;
      color: $dark-brown;
      margin-bottom: 40px;
    }

    .left__buttons {
      display: flex;
      justify-content: space-between;
      width: 63%;
    }

    .blue-btn {
      @include blue-btn;
    }

    span {
      height: 35px;
      width: 38px;
      line-height: 35px;
      font-size: 0.8125rem;
      color: #bdb5af;
      text-align: center;
    }
  }

  .jumbotron__right {
    img {
      max-width: 570px;
      margin-bottom: 70px;
    }
  }
}

.section--centered {
  display: flex;
  justify-content: center;
  background-color: $section-centered-bg;
}

.hero {
  .hero__text {
    display: flex;
    justify-content: center;

    h3 {
      margin-top: 50px;
      margin-bottom: 50px;
      max-width: 628px;
      font-size: 26px;
      text-align: center;
      line-height: 40px;
      color: $dark-brown;
    }
  }

  .images {
    display: flex;
    justify-content: center;
  }

  .images__caption {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 31%;
    margin-bottom: 96px;

    img {
      max-width: 140px;
      max-height: auto;
      margin-top: 20px;
      margin-bottom: 20px;
    }

    .safe {
      max-width: 60px;
      max-height: auto;
    }

    span {
      font-size: 18px;
      line-height: 27px;
      color: $dark-brown;
      text-align: center;
    }
  }
}

.rabb {
  display: flex;
  justify-content: center;
  padding-bottom: 96px;
  border-bottom: solid 1px $dark-brown;

  img {
    max-width: 280px;
  }
}

.twocol {
  display: flex;
  padding-top: 120px;
  padding-bottom: 120px;

  .section__screen {
    display: flex;
    justify-content: flex-end;
    width: 50%;

    img {
      max-width: 768px;
      width: 100%;
      height: auto;
    }
  }

  h3 {
    font-size: 26px;
    line-height: 40px;
    max-width: 410px;
    color: $dark-brown;
  }

  p {
    font-size: 22px;
    line-height: 33px;
    color: $dark-brown;
    max-width: 389px;
  }
}

.twocoltwo {
  display: flex;

  .section__text {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding-left: 500px;

    h3 {
      font-size: 26px;
      line-height: 40px;
      max-width: 410px;
      color: $dark-brown;
    }

    p {
      font-size: 22px;
      line-height: 33px;
      color: $dark-brown;
      max-width: 389px;
    }

    a {
      margin-bottom: 40px;
    }

    img {
      width: 270px;
      height: auto;
    }
  }

  img {
    max-width: 768px;
    width: 100%;
    height: auto;
  }
}

.getstarted {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 60px;

  h5 {
    margin-top: 50px;
    margin-bottom: 50px;
    max-width: 628px;
    font-size: 40px;
    text-align: center;
    line-height: 50px;
    color: $dark-brown;
  }
}

blockquote {
  display: flex;
  flex-direction: column;
  max-width: 628px;
  margin: 35px auto;
  padding: 20px 20px 20px 40px;
  border: 1px solid #bdb5af;
  border-radius: 7px;
  background: #fff;
  box-sizing: border-box;
  font-size: 0.875rem;
  line-height: 1.5;

  p {
    font-size: 16px;
    line-height: 24px;
    color: $dark-brown;
  }

  .authors {
    display: flex;
    padding-top: 15px;

    img {
      width: 38px;
      height: auto;
      vertical-align: middle;
      margin: 5px;
    }
    span {
      display: block;
    }
  }
}

.buttons {
  padding-bottom: 20px;
}

.blue-btn {
  @include blue-btn;
  padding: 9px 26px;
}

footer {
  display: flex;
  padding-top: 80px;
  padding-bottom: 30px;

  figcaption {
    display: flex;
    align-items: flex-start;
    max-width: 390px;
    margin: 0 0 0 70px;
    font-size: 18px;
    line-height: 23px;
    color: $dark-brown;
    padding-right: 107px;
  }

  img {
    width: 140px;
    vertical-align: middle;
    padding-right: 15px;
  }

  div {
    flex: 1;
  }
  ul {
    list-style-type: none;
  }

  li {
    padding-top: 15px;
    font-size: 14px;
  }
  span {
    font-size: 18px;
    line-height: 22px;
    color: $dark-brown;
    font-weight: 600;
  }
  a {
    color: $dark-brown;
  }
}
